h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(33, 209, 77);

}
body{
    background-color: #aceed8;
    margin-left:30%;
    margin-right: 30%;
    margin-top: 50px;
}
strong{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5ex;
    margin-left: 0em;
    color: indigo;
    font-style: italic;
    text-decoration: underline;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    color:cadetblue ;
}
